.container {
  display: flex;
  padding-bottom: 4rem;
  padding-top: 4rem;
  margin: 0 auto;
  width: 80%;
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}

.hibiscus {
  height: 50px;
  width: 50px;
}
