.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 75%;
}

.title {
  color: rgba(0, 0, 0, 0.6);
  border-bottom: solid 1px;
  border-color: rgba(0, 0, 0, 0.2);
  font-family: Roboto Mono;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 100px;
  padding-bottom: 1rem;
  width: 100%;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  width: 30%;
}

.category {
  color: rgba(0, 0, 0, 0.4);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 6rem;
}

.projectTitle {
  color: rgba(0, 0, 0, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projectTitle:hover {
  color: #d7939e;
}

.description {
  /* border-bottom: solid 1px;
  border-color: rgba(0, 0, 0, 0.2); */
  color: rgba(0, 0, 0, 0.6);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 1rem;
  /* padding-bottom: 6rem; */
  line-height: 1.5;
}
