.title {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Cantarell', sans-serif;
  font-size: 4.8rem;
  font-weight: 400;
  max-width: 20em;
  margin-bottom: 32px;
}

.description {
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  max-width: 20em;
}
